 body {
            margin: 0;
            padding: 20px;  
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin: 0 auto;
        }

        td {
            width: 50%;
            text-align: center;
            vertical-align: top;
            padding: 15px;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 20px;
        }

        .column {
            flex: 1 1 calc(50% - 20px);
            margin: 10px;
            max-width: 48%;
            border: 2px dashed #ddd;
            padding: 10px;
            text-align: center;
        }

        img {
            width: 150px;
            height: 200px;
            margin-top: 10px;
            border-radius: 5px;
        }

        .caption {
            font-weight: bold;
            margin-top: 10px;
        }

        input[type="file"] {
            display: block;
            margin: 10px auto;
        }

        input[type="text"] {
            margin: 10px auto;
            display: block;
            width: 150px;
        }

        .form-select {
            width: 150px;
            font-size: small;
        }